<ion-content [fullscreen]="true">
  <br>
  <ion-header collapse="condense" class="mt-4 mb-4">
    <ion-toolbar>
      <div class="text-center">
        <img src="assets/logo.svg">
      </div>
    </ion-toolbar>
  </ion-header>
  <div class="container-fluid">
    <form class="mt-3" [formGroup]="form">
      <ion-item mode="md">
        <ion-label position="floating">login@cliente</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <app-controls-erros [control]="form.get('email')"
        [errorMessages]="{required: 'Este campo é obrigatório.', maxlength: 'O e-mail não pode conter mais de 250 caracteres.'}"></app-controls-erros>
      <ion-item mode="md" class="mt-1">
        <ion-label position="floating">Senha</ion-label>
        <ion-input formControlName="password"></ion-input>
      </ion-item>
      <app-controls-erros [control]="form.get('password')"
        [errorMessages]="{required: 'Este campo é obrigatório.', maxlength: 'A senha não pode conter mais de 18 caracteres.'}"></app-controls-erros>
      <ion-button *ngIf="!isLoading" (click)="login()" class="w-100 mt-5 mb-2">Acessar</ion-button>
      <div *ngIf="isLoading" class="text-center mt-3">
        <ion-spinner></ion-spinner>
      </div>
    </form>
  </div>
</ion-content>