<ion-header [collapse]="isIos ? 'condense' : ''">
  <ion-toolbar mode="ios">
    <ion-title>Clientes</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/', 'features', 'tab1', 'customer-register', 'new']">Adicionar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="filterField" (ngModelChange)="filter()" mode="ios"
    placeholder="Digite para pesquisar..."></ion-searchbar>
  <ion-list *ngIf="customers?.length">
    <ion-item-sliding *ngFor="let customer of customers">
      <ion-item [routerLink]="['/', 'features', 'tab1', 'customer-register', customer.id]">
        <ion-label>
          <h2>{{customer.name}}</h2>
          <p *ngIf="customer.cpfCnpj" style="font-size: 12px;" class="text-muted">{{customer.cpfCnpj | mask:
            (customer.cpfCnpj.length > 11 ? '00.000.000/0000-00' : '000.000.000-00')}}</p>
          <p *ngIf="!customer.cpfCnpj" style="font-size: 12px;" class="text-muted">CPF ou CNPJ não informado</p>
        </ion-label>
        <ion-badge *ngIf="!customer.sync" color="primary">Sincronizando</ion-badge>
        <ion-badge *ngIf="customer.error" color="danger">Erro</ion-badge>
      </ion-item>
      <ion-item-options>
        <ion-item-option
          [routerLink]="['/', 'features', 'tab1', 'customer-register', customer.id]">Editar</ion-item-option>
        <ion-item-option (click)="delete(customer.id)" color="danger">Remover</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div class="text-center text-muted mt-5" *ngIf="!customers?.length">
    <ion-icon name="file-tray-outline" style="font-size: 100px;"></ion-icon>
    <h2>Nenhum cliente cadastrado</h2>
  </div>
  <br>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>