<ion-header [collapse]="isIos ? 'condense' : ''">
  <ion-toolbar mode="ios">
    <ion-back-button slot="start" defaultHref="/features/tab2" text="Voltar"></ion-back-button>
    <ion-title>{{isNew ? 'Novo' : 'Editar'}} pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container mt-3" [formGroup]="form">
    <ion-segment mode="ios" [value]="segment" (ionChange)="onSegmentChage($event)">
      <ion-segment-button value="product">Pedido</ion-segment-button>
      <ion-segment-button [disabled]="!form.get('tablePrice')?.value" value="items">Itens do pedido</ion-segment-button>
    </ion-segment>
    <span (click)="customerModal.present()" *ngIf="segment === 'product'" class="p-float-label mt-3">
      <input readonly [value]="form.get('customer')?.value?.name" id="float-input" class="w-100" type="text" pInputText>
      <label for="float-input">Selecione o cliente</label>
    </span>
    <span (click)="tablePriceModal.present()" *ngIf="segment === 'product'" class="p-float-label mt-3">
      <input readonly [value]="form.get('tablePrice')?.value?.name" id="float-input" class="w-100" type="text" pInputText>
      <label for="float-input">Selecione a tabela de preço</label>
    </span>
    <span (click)="tableTimeModal.present()" *ngIf="segment === 'product'" class="p-float-label mt-3">
      <input readonly [value]="form.get('tablePaymentTerm')?.value?.name" id="float-input" class="w-100" type="text" pInputText>
      <label for="float-input">Selecione a tabela de prazo</label>
    </span>
    <span *ngIf="segment === 'product'" class="p-float-label mt-3">
      <textarea formControlName="observation" id="float-input" class="w-100" type="text" pInputText></textarea>
      <label for="float-input">Digite as observações</label>
    </span>
    <span *ngIf="segment === 'items'" class="p-float-label mt-3">
      <input readonly (click)="showItens()" id="float-input" class="w-100" type="text" pInputText>
      <label for="float-input">Selecione o item</label>
    </span>
    <span *ngIf="segment === 'items'" class="p-float-label mt-3">
      <input id="float-input" class="w-100" type="text" pInputText>
      <label for="float-input">Digite a quantidade</label>
    </span>
    <div class="text-right" *ngIf="segment === 'items'">
      <ion-button>Vincular item</ion-button>
    </div>
    <h2 *ngIf="segment === 'items'">Itens no pedido</h2>
    <div class="text-center text-muted mt-5" *ngIf="segment === 'items'">
      <ion-icon name="file-tray-outline" style="font-size: 100px;"></ion-icon>
      <h3>Nenhum item vinculado</h3>
    </div>
    <ion-button (click)="save()" *ngIf="segment === 'product'" class="w-100">Salvar</ion-button>
  </div>
</ion-content>

<ion-modal mode="ios" #customerModal trigger="open-modal" [initialBreakpoint]="0.80" [breakpoints]="[0, 0.80, 1]">
  <ng-template>
    <ion-header [collapse]="isIos ? 'condense' : ''" mode="ios">
      <ion-toolbar mode="ios">
        <ion-label>
          <h2 class="font-weight-bold mb-0 pb-0 pl-1">Clientes</h2>
        </ion-label>
        <ion-button (click)="customerModal.dismiss()" fill="clear" slot="end">
          Cancelar
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content style="--background: #ffffff">
      <ion-searchbar [(ngModel)]="customerFilter" (ngModelChange)="onCustomerFilter()" mode="ios"
        placeholder="Pesquisar"></ion-searchbar>
      <ion-list *ngIf="customers?.length">
        <ion-item (click)="onSelectCustomer(item, customerModal)" *ngFor="let item of customers">
          <ion-label>
            <h2>{{item.name}}</h2>
            <p *ngIf="item.cpfCnpj" style="font-size: 12px;" class="text-muted">{{item.cpfCnpj | mask:
              (item.cpfCnpj.length > 11 ? '00.000.000/0000-00' : '000.000.000-00')}}</p>
            <p *ngIf="!item.cpfCnpj" style="font-size: 12px;" class="text-muted">CPF ou CNPJ não informado</p>
          </ion-label>
          <ion-button slot="end" fill="clear">Selecionar</ion-button>
        </ion-item>
      </ion-list>
      <div class="text-center text-muted mt-5" *ngIf="!customers?.length && !customerFilter">
        <ion-icon name="search-outline" style="font-size: 100px;"></ion-icon>
        <h2>Digite para pesquisar</h2>
      </div>
      <div class="text-center text-muted mt-5" *ngIf="!customers?.length && customerFilter">
        <ion-icon name="file-tray-outline" style="font-size: 100px;"></ion-icon>
        <h2>Nenhum cliente encontrado</h2>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal mode="ios" #tablePriceModal trigger="open-modal" [initialBreakpoint]="0.80" [breakpoints]="[0, 0.80, 1]">
  <ng-template>
    <ion-header [collapse]="isIos ? 'condense' : ''" mode="ios">
      <ion-toolbar mode="ios">
        <ion-label>
          <h2 class="font-weight-bold mb-0 pb-0 pl-1">Tabela de preço</h2>
        </ion-label>
        <ion-button (click)="tablePriceModal.dismiss()" fill="clear" slot="end">
          Cancelar
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content style="--background: #ffffff">
      <ion-searchbar [(ngModel)]="tablePriceFilter" (ngModelChange)="onTablePriceFilter()" mode="ios"
        placeholder="Pesquisar"></ion-searchbar>
      <ion-list *ngIf="tablePrices?.length">
        <ion-item (click)="onSelectTablePrice(item, tablePriceModal)" *ngFor="let item of tablePrices">
          <ion-label>
            <h2>{{item.name}}</h2>
          </ion-label>
          <ion-button slot="end" fill="clear">Selecionar</ion-button>
        </ion-item>
      </ion-list>
      <div class="text-center text-muted mt-5" *ngIf="!tablePrices?.length && !tablePriceFilter">
        <ion-icon name="search-outline" style="font-size: 100px;"></ion-icon>
        <h2>Digite para pesquisar</h2>
      </div>
      <div class="text-center text-muted mt-5" *ngIf="!tablePrices?.length && tablePriceFilter">
        <ion-icon name="file-tray-outline" style="font-size: 100px;"></ion-icon>
        <h2>Nenhuma tabela de preço encontrada</h2>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>


<ion-modal mode="ios" #tableTimeModal trigger="open-modal" [initialBreakpoint]="0.80" [breakpoints]="[0, 0.80, 1]">
  <ng-template>
    <ion-header [collapse]="isIos ? 'condense' : ''" mode="ios">
      <ion-toolbar mode="ios">
        <ion-label>
          <h2 class="font-weight-bold mb-0 pb-0 pl-1">Tabela de prazo</h2>
        </ion-label>
        <ion-button (click)="tableTimeModal.dismiss()" fill="clear" slot="end">
          Cancelar
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content style="--background: #ffffff">
      <ion-searchbar [(ngModel)]="tableTimesFilter" (ngModelChange)="onTableTimeFilter()" mode="ios"
        placeholder="Pesquisar"></ion-searchbar>
      <ion-list *ngIf="tableTimes?.length">
        <ion-item (click)="onSelectTableTime(item, tableTimeModal)" *ngFor="let item of tableTimes">
          <ion-label>
            <h2>{{item.name}}</h2>
          </ion-label>
          <ion-button slot="end" fill="clear">Selecionar</ion-button>
        </ion-item>
      </ion-list>
      <div class="text-center text-muted mt-5" *ngIf="!tableTimes?.length && !tableTimesFilter">
        <ion-icon name="search-outline" style="font-size: 100px;"></ion-icon>
        <h2>Digite para pesquisar</h2>
      </div>
      <div class="text-center text-muted mt-5" *ngIf="!tableTimes?.length && tableTimesFilter">
        <ion-icon name="file-tray-outline" style="font-size: 100px;"></ion-icon>
        <h2>Nenhuma tabela de prazo encontrada</h2>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal mode="ios" #modalItem trigger="open-modal" [initialBreakpoint]="0.80" [breakpoints]="[0, 0.80, 1]">
  <ng-template>
    <ion-header [collapse]="isIos ? 'condense' : ''" mode="ios">
      <ion-toolbar mode="ios">
        <ion-label>
          <h2 class="font-weight-bold mb-0 pb-0 pl-1">Itens da tabela de preço</h2>
        </ion-label>
        <ion-button (click)="modalItem.dismiss()" fill="clear" slot="end">
          Cancelar
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content style="--background: #ffffff">
      <ion-searchbar [(ngModel)]="productFilter" (ngModelChange)="onProductFilter()" mode="ios"
        placeholder="Pesquisar"></ion-searchbar>
      <ion-list *ngIf="items?.length">
        <ion-item (click)="onSelectTableTime(item, tableTimeModal)" *ngFor="let item of items">
          <ion-label>
            <h2>{{item?.product?.name}}</h2>
            <p class="text-muted" style="font-size: 12px;">Preço: {{item?.price || 'Não informado'}}</p>
          </ion-label>
          <ion-button slot="end" fill="clear">Selecionar</ion-button>
        </ion-item>
      </ion-list>
      <div class="text-center text-muted mt-5" *ngIf="!items?.length && tableTimesFilter">
        <ion-icon name="file-tray-outline" style="font-size: 100px;"></ion-icon>
        <h2>Nenhum item encontrado</h2>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>