<ion-header collapse="condense" mode="ios">
  <ion-toolbar mode="ios">
    <ion-back-button slot="start" defaultHref="/features/tab2" text="Voltar"></ion-back-button>
    <ion-title>{{isNew ? 'Novo' : 'Editar'}} pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="container mt-3" [formGroup]="form">
    <div class="mb-3" style="color: white; background: rgb(199, 38, 38); padding: 10px; border-radius: 10px;"
      *ngIf="error">{{error}}
      <ion-button size="small" (click)="save()" color="light">Tentar novamente</ion-button>
    </div>
    <ion-segment mode="ios" [value]="segment" (ionChange)="onSegmentChage($event)">
      <ion-segment-button value="product">Pedido</ion-segment-button>
      <ion-segment-button [disabled]="!form.get('tablePrice')?.value" value="items">Kits do pedido</ion-segment-button>
      <ion-segment-button [disabled]="!selectedItems.length" value="total">Totais</ion-segment-button>
    </ion-segment>
    <span (click)="customerModal.present()" *ngIf="segment === 'product'" class="p-float-label mt-3">
      <input readonly [value]="form.get('customer')?.value?.name" id="float-input" class="w-100" type="text" pInputText>
      <label for="float-input">Selecione o cliente</label>
    </span>
    <span (click)="tablePriceModal.present()" *ngIf="segment === 'product'" class="p-float-label mt-3">
      <input readonly [value]="form.get('tablePrice')?.value?.name" id="float-input" class="w-100" type="text"
        pInputText>
      <label for="float-input">Selecione a tabela de preço</label>
    </span>
    <span (click)="tableTimeModal.present()" *ngIf="segment === 'product'" class="p-float-label mt-3">
      <input readonly [value]="form.get('tablePaymentTerm')?.value?.name" id="float-input" class="w-100" type="text"
        pInputText>
      <label for="float-input">Selecione a tabela de prazo</label>
    </span>
    <span *ngIf="paymentTermSelectedList?.length && segment === 'product'" class="p-float-label mt-3">
      <p-dropdown [autoDisplayFirst]="false" formControlName="paymentTermSelected" [style]="{'minWidth':'100%'}"
        [options]="paymentTermSelectedList" [optionLabel]="'days'"></p-dropdown>
      <label for="float-input">Selecione o prazo em dias</label>
    </span>
    <span *ngIf="segment === 'product'" class="p-float-label mt-3">
      <textarea formControlName="observation" id="float-input" class="w-100" type="text" pInputText></textarea>
      <label for="float-input">Digite as observações</label>
    </span>
  </form>
  <div class="container mt-3" [formGroup]="itemForm">
    <span *ngIf="segment === 'items'" class="p-float-label mt-3">
      <input readonly [value]="itemForm.get('name')?.value?.name" (click)="showItens()" id="float-input" class="w-100"
        type="text" pInputText>
      <label for="float-input">Selecione o kit</label>
    </span>
    <span *ngIf="segment === 'items'" class="p-float-label mt-3">
      <input formControlName="quantity" id="float-input" class="w-100" type="number" pInputText>
      <label for="float-input">Digite a quantidade</label>
    </span>
    <div (click)="addItem()" class="text-right" *ngIf="segment === 'items'">
      <ion-button>{{itemForm.get('id')?.value ? 'Atualizar item' : 'Vincular item'}}</ion-button>
    </div>
    <br>
    <h2 *ngIf="segment === 'items'">Kits no pedido</h2>
    <div class="text-center text-muted mt-5" *ngIf="segment === 'items' && !selectedItems?.length">
      <ion-icon name="file-tray-outline" style="font-size: 100px;"></ion-icon>
      <h3>Nenhum item vinculado</h3>
    </div>
    <div class="text-center text-muted mt-3 pl-0 ml-0" *ngIf="segment === 'items' && selectedItems?.length">
      <ion-list mode="ios">
        <ion-item-sliding *ngFor="let item of selectedItems">
          <ion-item class="no-padding">
            <ion-label>
              <h4>{{item?.name?.name}}</h4>
              <p>{{item?.quantity}} quantidades</p>
            </ion-label>
          </ion-item>
          <ion-item-options>
            <ion-item-option (click)="edit(item.id)">Editar</ion-item-option>
            <ion-item-option (click)="removeItem(item.id)" color="danger">Remover</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
    <div class="text-left text-muted mt-3 pl-0 ml-0" *ngIf="segment === 'total' && selectedItems?.length">
      <table class="mt-4 table">
        <thead>
          <th>Kit</th>
          <th noWrap class="text-center">Qtd.</th>
          <th noWrap class="text-right" style="text-align: right;">Total</th>
          <th style="width: 30px;"></th>
        </thead>
        <tbody>
          <tr *ngFor="let item of selectedItems; let i = index" (click)="showItensKit(i)">
            <td>{{item?.name?.name}}</td>
            <td noWrap class="text-center">{{item?.quantity}}</td>
            <td noWrap class="text-right" style="text-align: right;">{{this.parseCurrency(totalKit(item.name.items,
              item?.quantity))}}</td>
            <td style="padding-right: 0px!important; padding-left: 5px !important;"><ion-icon size="larger"
                name="chevron-down" color="primary"></ion-icon></td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <thead>
          <th>Detalhes</th>
          <th class="text-right" style="text-align: right;">Total</th>
          <th style="width: 30px;"></th>
        </thead>
        <tbody>
          <tr>
            <td>Total dos kits</td>
            <td class="text-right" style="text-align: right;">{{this.parseCurrency(totalKits())}}
            </td>
            <td style="width: 30px;"></td>
          </tr>
          <tr>
            <td>Descontos ({{this.form.get('paymentTermSelected')?.value?.days}} dias)</td>
            <td class="text-right" style="text-align: right;">
              {{this.parseCurrency(totalDiscount())}}</td>
            <td style="width: 30px;"></td>
          </tr>
          <tr>
            <td>Total com descontos</td>
            <td class="text-right" style="text-align: right;">{{this.parseCurrency(total())}}
            </td>
            <td style="width: 30px;"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <ion-button (click)="save()" class="w-100 {{segment === 'items' ? 'mt-5' : ''}} mb-4">Salvar</ion-button>
  </div>
</ion-content>

<ion-modal mode="ios" #kitDetailModal trigger="open-modal" [initialBreakpoint]="0.80" [breakpoints]="[0, 0.80, 1]">
  <ng-template>
    <ion-header [collapse]="isIos ? 'condense' : ''" mode="ios">
      <ion-toolbar mode="ios">
        <ion-label>
          <h2 class="font-weight-bold mb-0 pb-0 pl-1">{{selectedItems[itensKitIndex].name?.name}}</h2>
          <p>Preço unit.: {{this.parseCurrency(totalKit(selectedItems[itensKitIndex].name.items, 1))}}</p>
        </ion-label>
        <ion-button (click)="kitDetailModal.dismiss()" fill="clear" slot="end">
          Fechar
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content style="--background: #ffffff">
      <ion-list>
        <ion-item *ngFor="let product of selectedItems[itensKitIndex].name.items">
          <ion-label>
            <h2>{{product?.product?.name}}</h2>
            <p>Qtd: {{product?.quantity}} | Preco unit.: {{parseCurrency(product?.price)}}</p>
          </ion-label>
          <ion-label slot="end" style="font-size: 14px;">{{parseCurrency(product?.price *
            product?.quantity)}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal mode="ios" #customerModal trigger="open-modal" [initialBreakpoint]="0.80" [breakpoints]="[0, 0.80, 1]">
  <ng-template>
    <ion-header [collapse]="isIos ? 'condense' : ''" mode="ios">
      <ion-toolbar mode="ios">
        <ion-label>
          <h2 class="font-weight-bold mb-0 pb-0 pl-1">Clientes</h2>
        </ion-label>
        <ion-button (click)="customerModal.dismiss()" fill="clear" slot="end">
          Cancelar
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content style="--background: #ffffff">
      <ion-searchbar [(ngModel)]="customerFilter" (ngModelChange)="onCustomerFilter()" mode="ios"
        placeholder="Pesquisar"></ion-searchbar>
      <ion-list mode="ios" *ngIf="customers?.length">
        <ion-item (click)="onSelectCustomer(item, customerModal)" *ngFor="let item of customers">
          <ion-label>
            <h2>{{item.name}}</h2>
            <p *ngIf="item.cpfCnpj" style="font-size: 12px;" class="text-muted">{{item.cpfCnpj | mask:
              (item.cpfCnpj.length > 11 ? '00.000.000/0000-00' : '000.000.000-00')}}</p>
            <p *ngIf="!item.cpfCnpj" style="font-size: 12px;" class="text-muted">CPF ou CNPJ não informado</p>
          </ion-label>
          <ion-button slot="end" fill="clear">Selecionar</ion-button>
        </ion-item>
        <div *ngIf="!customerFilter && customers.length >= 50" class="text-center">
          <p class="mt-5 text-muted">Pesquise para encontrar mais clientes</p>
        </div>
      </ion-list>
      <div class="text-center text-muted mt-5" *ngIf="!customers?.length && !customerFilter">
        <ion-icon name="search-outline" style="font-size: 100px;"></ion-icon>
        <h2>Digite para pesquisar</h2>
      </div>
      <div class="text-center text-muted mt-5" *ngIf="!customers?.length && customerFilter">
        <ion-icon name="file-tray-outline" style="font-size: 100px;"></ion-icon>
        <h2>Nenhum cliente encontrado</h2>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal mode="ios" #tablePriceModal trigger="open-modal" [initialBreakpoint]="0.80" [breakpoints]="[0, 0.80, 1]">
  <ng-template>
    <ion-header [collapse]="isIos ? 'condense' : ''" mode="ios">
      <ion-toolbar mode="ios">
        <ion-label>
          <h2 class="font-weight-bold mb-0 pb-0 pl-1">Tabela de preço</h2>
        </ion-label>
        <ion-button (click)="tablePriceModal.dismiss()" fill="clear" slot="end">
          Cancelar
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content style="--background: #ffffff">
      <ion-searchbar [(ngModel)]="tablePriceFilter" (ngModelChange)="onTablePriceFilter()" mode="ios"
        placeholder="Pesquisar"></ion-searchbar>
      <ion-list mode="ios" *ngIf="tablePrices?.length">
        <ion-item (click)="onSelectTablePrice(item, tablePriceModal)" *ngFor="let item of tablePrices">
          <ion-label>
            <h2>{{item.name}}</h2>
          </ion-label>
          <ion-button slot="end" fill="clear">Selecionar</ion-button>
        </ion-item>
        <div *ngIf="!tablePriceFilter && tablePrices?.length === 50" class="text-center">
          <p class="mt-5 text-muted">Pesquise para encontrar mais tabelas de preços</p>
        </div>
      </ion-list>
      <div class="text-center text-muted mt-5" *ngIf="!tablePrices?.length && !tablePriceFilter">
        <ion-icon name="search-outline" style="font-size: 100px;"></ion-icon>
        <h2>Digite para pesquisar</h2>
      </div>
      <div class="text-center text-muted mt-5" *ngIf="!tablePrices?.length && tablePriceFilter">
        <ion-icon name="file-tray-outline" style="font-size: 100px;"></ion-icon>
        <h2>Nenhuma tabela de preço encontrada</h2>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>


<ion-modal mode="ios" #tableTimeModal trigger="open-modal" [initialBreakpoint]="0.80" [breakpoints]="[0, 0.80, 1]">
  <ng-template>
    <ion-header [collapse]="isIos ? 'condense' : ''" mode="ios">
      <ion-toolbar mode="ios">
        <ion-label>
          <h2 class="font-weight-bold mb-0 pb-0 pl-1">Tabela de prazo</h2>
        </ion-label>
        <ion-button (click)="tableTimeModal.dismiss()" fill="clear" slot="end">
          Cancelar
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content style="--background: #ffffff">
      <ion-searchbar [(ngModel)]="tableTimesFilter" (ngModelChange)="onTableTimeFilter()" mode="ios"
        placeholder="Pesquisar"></ion-searchbar>
      <ion-list mode="ios" *ngIf="tableTimes?.length">
        <ion-item (click)="onSelectTableTime(item, tableTimeModal)" *ngFor="let item of tableTimes">
          <ion-label>
            <h2>{{item.name}}</h2>
          </ion-label>
          <ion-button slot="end" fill="clear">Selecionar</ion-button>
        </ion-item>
        <div *ngIf="!tableTimesFilter && tableTimes?.length === 50" class="text-center">
          <p class="mt-5 text-muted">Pesquise para encontrar mais tabelas de prazo</p>
        </div>
      </ion-list>
      <div class="text-center text-muted mt-5" *ngIf="!tableTimes?.length && !tableTimesFilter">
        <ion-icon name="search-outline" style="font-size: 100px;"></ion-icon>
        <h2>Digite para pesquisar</h2>
      </div>
      <div class="text-center text-muted mt-5" *ngIf="!tableTimes?.length && tableTimesFilter">
        <ion-icon name="file-tray-outline" style="font-size: 100px;"></ion-icon>
        <h2>Nenhuma tabela de prazo encontrada</h2>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal mode="ios" #modalItem trigger="open-modal" [initialBreakpoint]="0.80" [breakpoints]="[0, 0.80, 1]">
  <ng-template>
    <ion-header [collapse]="isIos ? 'condense' : ''" mode="ios">
      <ion-toolbar mode="ios">
        <ion-label>
          <h2 class="font-weight-bold mb-0 pb-0 pl-1">Kit de produtos</h2>
        </ion-label>
        <ion-button (click)="modalItem.dismiss()" fill="clear" slot="end">
          Cancelar
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content style="--background: #ffffff">
      <ion-searchbar [(ngModel)]="productFilter" (ngModelChange)="onProductFilter()" mode="ios"
        placeholder="Pesquisar"></ion-searchbar>
      <ion-list mode="ios" *ngIf="items?.length">
        <ion-item (click)="onSelectItem(item, modalItem)" *ngFor="let item of items">
          <ion-label>
            <h2>{{item?.name}}</h2>
            <p class="text-muted" style="font-size: 12px;">Itens: {{item?.product || 'Não informado'}}</p>
          </ion-label>
          <ion-button slot="end" fill="clear">Selecionar</ion-button>
        </ion-item>
      </ion-list>
      <div class="text-center text-muted mt-5" *ngIf="!items?.length && tableTimesFilter">
        <ion-icon name="file-tray-outline" style="font-size: 100px;"></ion-icon>
        <h2>Nenhum item encontrado</h2>
      </div>
      <ion-infinite-scroll (ionInfinite)="onProductsLoadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
  </ng-template>
</ion-modal>