<ion-header collapse="condense" mode="ios">
  <ion-toolbar mode="ios">
    <ion-title>Pedidos</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/', 'features', 'tab2', 'product-register', 'new']">Adicionar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="customerFilter" (ngModelChange)="onCustomerFilter()" mode="ios"
    placeholder="Pesquisar por cliente"></ion-searchbar>
  <ion-list mode="ios">
    <ion-item-sliding *ngFor="let item of product">
      <ion-item detail="false">
        <ion-label class="ion-text-wrap" [routerLink]="['/', 'features', 'tab2', 'product-register', item.id]" >
          <h5 *ngIf="item?.customer?.name">Cliente: {{item?.customer?.name}}</h5>
          <h5 *ngIf="!item?.customer?.name">Esboço: {{item?.createdAt}}</h5>
          <h5 *ngIf="item?.type === 'order'">Erro ao integrar pedido</h5>
          <p *ngIf="item?.customer?.cpfCnpj" style="font-size: 12px;" class="text-muted">{{item?.customer?.cpfCnpj | mask:
            (item?.customer?.cpfCnpj.length > 11 ? '00.000.000/0000-00' : '000.000.000-00')}}</p>
          <p *ngIf="item?.customer?.city" style="font-size: 12px;" class="text-muted">{{item?.customer?.city?.name}} - {{item?.customer?.state?.name}}</p>
          <p *ngIf="!item?.customer?.city" style="font-size: 12px;" class="text-muted">Cidade não informada</p>
          <p style="font-size: 12px;" class="text-muted mb-0 pb-0">Tabela de preço: {{item?.tablePrice?.name || 'Não informado'}}
          </p>
          <p style="font-size: 12px;" class="text-muted mt-0 pt-0" *ngIf="item?.itemType === 'PRODUCT_KIT'">Qtde.: {{item.productsQty + ' Pçs' ||
            'Não informado'}}</p>
          <p style="font-size: 12px;" class="text-muted mt-0 pt-0" *ngIf="item?.itemType === 'PRODUCT'">Qtde.: {{item.productsQty ||
              'Não informado'}} {{ item?.unit || ''}}</p>  
        </ion-label>
        <ion-label [routerLink]="['/', 'features', 'tab2', 'product-register', item.id]"
          slot="end">
          <ion-badge [routerLink]="['/', 'features', 'tab2', 'product-register', item.id]"
            *ngIf="item.sync === 0 && !item.error">Sincronizando</ion-badge>
          <ion-badge [routerLink]="['/', 'features', 'tab2', 'product-register', item.id]"
            *ngIf="item.sync === -1">Esboço</ion-badge>
          <ion-badge color="danger" [routerLink]="['/', 'features', 'tab2', 'product-register', item.id]"
            *ngIf="item.error">Erro</ion-badge>
          <p *ngIf="item?.id && !item.error && (item.sync === true || item.sync === 1)" style="font-size: 12px; color: black; padding-left: 3px;">Nº: {{item?.id}}</p>
          <p style="color: black; padding-left: 3px;">{{parseCurrency(item.total)}}</p>
        </ion-label>
        
        <ion-button (click)="presentActionSheet(item.id)" color="dark" fill="clear" slot="end">
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item-options #options>
        <ion-item-option [routerLink]="['/', 'features', 'tab2', 'product-register', item.id]">Editar</ion-item-option>
        <ion-item-option (click)="delete(item.id)" color="danger">Remover</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div class="text-center text-muted mt-5" *ngIf="!product?.length">
    <ion-icon name="file-tray-outline" style="font-size: 100px;"></ion-icon>
    <h2>Nenhum pedido cadastrado</h2>
  </div>
  <br>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>